
.parallax-container {
  position: relative;
  height: 40rem;
  overflow: hidden;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, -50%, 0);
  transition: transform 0.9s ease-out;
}

.parallax-container:hover .parallax-bg {
  transform: translate3d(0, -60%, 0);
}
@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top {
  animation: slideInTop 1s ease-out;
}


.slide-in-top {
  animation: slideInTop 1s ease-out;
}

.zoom-on-hover {
  transition: transform 0.5s ease;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
}
